<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대시보드</title>
    <link rel="icon" type="image/x-icon"
        href="https://raw.githubusercontent.com/hmes98318/Music-Disc/main/public/imgs/html/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/static/css/components/container.css">
    <link rel="stylesheet" type="text/css" href="/static/css/components/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.page.css">
</head>

<body>
    <div class="container">
        <div class="sidebar-left">
            <a href="/dashboard" class="current-page">대시보드</a>
            <a href="/localnode">로컬 노드</a>
            <a href="/logs">로그</a>
            <a href="/maintenance">유지보수</a>
            <a href="/nodeslist">노드 목록</a>
            <a href="/serverlist">서버 목록</a>
        </div>

        <div class="content">
            <div class="botdetails">
                <h2>시스템 정보</h2>
                <ul>
                    <li>hoehoetvhs Bot: <span id="info_bot_version"></span></li>
                    <li>Node.js: <span id="info_node_version"></span></li>
                    <li>Discord.js: <span id="info_dc_version"></span></li>
                    <li>LavaShark: <span id="info_shark_version"></span></li>
                    <li>운영체제: <span id="info_os_version"></span></li>
                    <li>CPU: <span id="info_cpu"></span></li>
                    <li>최초 가동 시각: <span id="info_startupTime"></span></li>
                </ul>

                <h2>통계</h2>
                <ul>
                    <li>서비스 중인 서버 <span id="stat_server"></span>개</li>
                    <li>재생중인 서버: <span id="stat_playing"></span>개</li>
                </ul>

                <h2>상태</h2>
                <ul>
                    <li>가동시간: <span id="status_uptime"></span></li>
                    <li>CPU: <span id="status_load_percent"></span><span id="status_load_detail"></span></li>
                    <li>메모리: <span id="status_memory_percent"></span><span id="status_memory_detail"></span></li>
                    <li>할당된 메모리: <span id="status_heap_percent"></span><span id="status_heap_detail"></span></li>
                    <li>지연시간: <span id="status_ping_api"></span></li>
                </ul>
            </div>
        </div>
    </div>
</body>


<script src="/static/js/utils/formatBytes.js"></script>
<script src="/static/js/utils/msToTime.js"></script>
<script src="/static/js/utils/timestampToTime.js"></script>

<script src="/static/js/components/navbar.js"></script>
<script src="/static/js/components/footer.js"></script>
<script src="/static/js/dashboard.page.js"></script>

</html>