<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="icon" type="image/x-icon"
        href="https://raw.githubusercontent.com/hmes98318/Music-Disc/main/public/imgs/html/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/static/css/login.page.css">
</head>

<body>
    <div class="login-container">
        <div class="logo-container">
            <img src="https://raw.githubusercontent.com/hmes98318/Music-Disc/main/public/imgs/logo/logo2.svg"
                height="30%" width="30%" alt="Logo">
        </div>

        <form id="login-form">
            <label for="username">사용자명:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
            <p id="login-failure-message">사용자 아이디 또는 비밀번호가 올바르지 않습니다.</p>
            <p class="forgot-password" id="forgot-password">비밀번호를 잊어버렸습니다!</p>
            <button type="submit">로그인</button>
        </form>
    </div>
</body>

<script src="/static/js/login.page.js"></script>

</html>